* {
  padding: 0;
  margin: 0;
}

/* Product tile */

.product-tile-thubmnail-wrapper {
  padding: 0 !important;
  display: flex;
  justify-content: center;
}

.product-tile-thubmnail {
  margin: 20px 0;
}

.product-tile-button-wrapper {
  padding: 0 !important;
}

/* Login modal */

.login-modal-error-alert {
  text-align: justify;
  font-size: 110%;
  margin-top: 20px;
}

/* Product gallery -> no items found component */

.no-products-card-body {
  height: 80vh;
}

/* Navbar */

.nav-bar-logo {
  width: 300px;
  height: 60px;
  margin: 5px 15px;
}

.nav-bar-bootstrap-component {
  margin: 0 !important;
  padding: 0 !important;
}

.nav-bar-cart-icon {
  margin-left: 5px;
  margin-right: 2px;
}

.nav-bar-cart-badge {
  padding: 2px 8px !important;
}

.custom-link {
  text-decoration-line: none !important;
  color: black;
}

.custom-link:hover {
  color: #0e59e2;
}

.product-page-cart-block-discount,
.product-page-cart-block-price {
  margin-bottom: 10px;
  text-align: center;
  width: 100px;
  height: 40px;
  border-radius: 10px;
  padding-top: 6px;
  color: white;
}

.product-page-cart-block-discount {
  text-decoration-line: line-through;
  background-color: red;
}

.product-page-cart-block-price {
  background-color: #10c44c;
}
