* {
  padding: 0;
  margin: 0;
}

/* Product page */
.pr-page-wrapper {
  margin: 0 50px !important;
}

.pr-page-gallery-wrapper {
  background-color: #f8f9fa;
  border-radius: 25px;
  min-width: 300px;
}

.pr-page-main-image {
  margin: 15px 0 15px 0;
  min-width: 200px;
  min-height: 200px;
}

.product-page-cart-block-container,
.pr-page-description,
.pr-page-full-details,
.cart-checkout-wrapper {
  background-color: #f8f9fa;
  padding: 20px !important;
  border-radius: 25px;
}

.pr-page-img-option {
  width: 50px;
  height: 50px;
}

.pr-page-carousel-item {
  display: flex;
  justify-content: center;
  min-width: 180px;
  min-height: 230px;
  align-items: center;
}

.product-page-cart-block-container,
.cart-checkout-wrapper {
  box-shadow: 5px 8px 20px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 5px 8px 20px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 5px 8px 20px 5px rgba(0, 0, 0, 0.2);
}

/* Login modal */

.login-btn-link {
  text-decoration: none !important;
}

.login-modal-error-alert {
  text-align: justify;
  font-size: 110%;
  margin-top: 20px;
}

/* Product preview card */

.product-tile-thubmnail,
.cart-product-tile-thubmnail,
.product-tile-thubmnail-image {
  margin: 20px 0;
}

.product-tile-thubmnail-image {
  width: 171px;
  height: 180px;
  border-radius: 25px;
}

.product-tile-thubmnail-wrapper,
.cart-product-tile-thubmnail-wrapper {
  background-color: #f8f9fa;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  min-width: 180px;
  min-height: 170px;
  align-items: center;
}

.price-font {
  font-family: "Bruno Ace SC", cursive;
  font-family: "Signika Negative", sans-serif;
  font-size: 22px;
}

.price-discount {
  color: #f91155;
}

.price-without-discount {
  color: #9fa8b2;
  text-decoration: line-through;
  font-size: 18px;
}

.discount {
  color: #fa5082;
  font-size: 18px;
}

.cart-text {
  font-family: "Cabin", sans-serif;
  font-size: 18px;
}

.cart-quantity-text {
  font-weight: 500;
}

.cart-secondary-text,
.cart-secondary-text-small {
  color: #83909c;
}

.cart-secondary-text-small {
  font-size: 0.8em;
  vertical-align: super;
}

.product-tile-wrapper,
.cart-pr-tile-wrapper {
  min-width: 205px;
  padding: 10px 0;
  border-bottom: 3px #f8f9fa solid;
}

.product-title-text,
.cart-product-title-text {
  text-align: left;
}

@media (max-width: 768px) {
  .product-tile-wrapper .middle-column,
  .cart-pr-tile-wrapper .cart-middle-column {
    display: none;
  }
  .product-tile-wrapper .product-title-text,
  .cart-pr-tile-wrapper .cart-product-title-text {
    text-align: center;
  }
}
/* Product gallery -> no items found component */

.no-products-card-body {
  height: 80vh;
}

/* Categories bar */
.categories-bar {
  margin: 16px 0 0 15px;
}

/* Navbar */

.nav-bar-logo {
  width: 300px;
  height: 60px;
  margin: 5px 15px;
}

.nav-bar-bootstrap-component {
  margin: 0 !important;
  padding: 0 !important;
  padding-right: 15px !important;
  min-width: 375px;
}

.nav-bar-cart-icon {
  margin-left: 5px;
  margin-right: 2px;
}

.nav-bar-cart-badge {
  padding: 2px 8px !important;
}

.navbar-collapse .nav-bar-logout-button {
  margin-top: 0.25rem;
}

.nav-bar-search-full-width {
  width: calc(100% - 700px);
  max-width: calc(100% - 200px);
  margin-right: auto;
}

/* Media query for smaller screens */
@media (max-width: 991.98px) {
  .nav-bar-search-full-width {
    width: calc(100% - 70px);
    max-width: 70%;
    text-align: center;
  }

  .navbar-collapse .nav-bar-button {
    margin: 8px 0px 4px 16px !important;
  }

  .navbar-collapse .nav-bar-button,
  .navbar-collapse {
    width: 98%;
    padding-bottom: 10px;
    text-align: center;
  }
}

/* Media query for the smallest screens */
@media (max-width: 533px) {
  .nav-bar-search-full-width {
    width: calc(100% - 70px);
    max-width: 53%;
  }
}

.nav-bar-logo {
  height: 60px;
  margin: 5px 15px;
}

.nav-bar-logo.nav-bar-logo-large {
  width: 300px;
  display: block;
}

.nav-bar-logo.nav-bar-logo-small {
  width: 60px;
  height: 60px;
  margin-right: 0;
  display: none;
}

@media (max-width: 991.98px) {
  .nav-bar-logo.nav-bar-logo-large {
    display: none;
  }
  .nav-bar-logo.nav-bar-logo-small {
    display: block;
    text-align: center;
  }
}

/* Custom link */

.custom-link {
  text-decoration-line: none !important;
  color: black;
}

.custom-link:hover {
  color: #0e59e2;
}

.custom-link:hover .link-icon-black {
  display: none;
}

.link-icon-blue {
  display: none;
}

.custom-link:hover .link-icon-blue {
  display: inline;
}

/* Product page */

.product-page-cart-block-discount,
.product-page-cart-block-price {
  margin-bottom: 10px;
  text-align: center;
  width: 100px;
  height: 40px;
  border-radius: 10px;
  padding-top: 6px;
  color: white;
}

.product-page-cart-block-discount {
  text-decoration-line: line-through;
  background-color: red;
}

.product-page-cart-block-price {
  background-color: #10c44c;
}

/* Cart page */

.cart-wrapper {
  padding: 0 100px !important;
  min-height: 85vh;
}

@media (max-width: 991.98px) {
  .cart-wrapper {
    padding: 0 !important;
  }
}

.cart-select-all-wrapper {
  border-bottom: 1px inset #e9eef4;
  display: flex;
  padding-bottom: 10px;
}

.cart-custom-check-box,
.cart-custom-check-box-all {
  transform: scale(1.5);
  border: 10px solid black;
}

.cart-custom-check-box {
  margin: 0 !important;
}

.cart-custom-check-box-all {
  margin-left: 18px;
}

.cart-checkout-button {
  width: 90% !important;
  margin: 15px;
}

.cart-checkout-button-wrapper {
  border-bottom: 1px solid gray;
}

.cart-checkout-info-p {
  padding-left: 15px;
  padding-top: 5px;
  margin: 0;
}

/* Order page */
.order-wrapper {
  min-height: 85vh;
}

/* Order page Payment choice */
.order-page-payment-card-wrapper,
.order-page-payment-card-wrapper-selected {
  margin: 10px 0 25px 25px !important;
  border: 1px solid #0e59e2;
  width: fit-content !important;
  border-radius: 15px;
  width: 130px !important;
  background-color: #e9eef4;
}

.order-page-payment-card-wrapper:hover {
  background-color: #0e59e2;
  color: white;
  transition: background-color 0.3s ease, border-color 0.3s ease,
    color 0.3s ease;
}

.order-page-payment-card-wrapper-selected {
  background-color: #0e59e2;
  color: white;
}

.order-page-payment-card-text {
  padding: 25px 0px;
  text-align: center;
  margin: 0;
}

.order-page-payment-choice-wrapper {
  padding-left: 0 !important;
  padding-right: 0 !important;
  background-color: #f5f5f5;
  border-radius: 15px;
}

.order-page-payment-header {
  margin: 10px 20px 5px 15px !important;
}

/* Address form */
.address-form-textarea {
  resize: none;
  height: 100px !important;
}

.address-form-wrapper {
  background-color: #f5f5f5;
  padding: 25px !important;
  border-radius: 25px;
}

.address-form-field {
  padding: 0 15px 10px 10px;
}

/* User page */
.profile-placeholder-image {
  width: 200px;
  height: 200px;
  margin-top: 20px;
}

.profile-placeholder-image-caption {
  font-size: larger;
}

/* Footer */
.ftr-wrapper {
  margin-top: 15px;
}

.ftr-link-wrapper {
  background-color: #f8f9fa;
  text-align: center;
  display: flex;
  justify-content: center;
  border-bottom: gray 1px solid;
  padding: 30px 0;
}

.ftr-link {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 0;
}

.ftr-link .ftr-link-text {
  text-decoration: none;
  color: black;
}

.ftr-link {
  margin-bottom: 10px;
}

.ftr-link-text:hover {
  color: lightblue;
}

.ftr-copyright {
  color: white;
  padding: 20px;
  text-align: center;
  background-color: darkgray;
}

.ftr-slogan {
  text-align: center;
  text-shadow: #83909c;
  padding: 30px;
  color: #131313;
  font-style: italic;
}

/* Address plate */
.addrs-plate-wrapper,
.addrs-plate-wrapper-selected,
.order-page-new-address-wrapper,
.addrs-plate-wrapper-delete {
  border-radius: 15px;
  padding: 10px 15px;
  margin-bottom: 15px;
}

.addrs-plate-wrapper,
.addrs-plate-wrapper-delete,
.order-page-new-address-wrapper {
  border: 1px solid #0e59e2;
  background-color: #e9eef4;
}

.addrs-plate-wrapper-selected,
.addrs-plate-wrapper:hover,
.order-page-new-address-wrapper:hover {
  color: white;
  background-color: #0e59e2;
  border: 1px solid #e9eef4;
}

.addrs-plate-wrapper:hover,
.order-page-new-address-wrapper:hover {
  transition: background-color 0.3s ease, border-color 0.3s ease,
    color 0.3s ease;
}

.order-page-new-address-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.order-page-new-address-wrapper:hover {
  cursor: pointer;
}

.addrs-plate-info-title {
  font-weight: bold;
}

.addrs-plate-wrapper:hover .addrs-plate-icon {
  color: #e9eef4;
}

.addrs-plate-wrapper:hover .addrs-plate-icon-trash {
  display: block;
}

.addrs-plate-icon-trash {
  display: none;
  margin-top: 2px;
}

.addrs-plate-icon-trash:hover {
  color: orange;
}

/* No data error */
.data-error-wrapper {
  margin: 50px 25px !important;
  display: flex;
  justify-content: center;
}

@media (max-width: 400px) {
  .data-error-wrapper {
    margin: 25px 0px !important;
  }
}

.data-error-inner-wrapper {
  max-width: 800px !important;
  min-width: 370px !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e9eef4;
  border-radius: 25px;
  padding: 30px 0;
}

.data-error-header {
  text-align: center;
  margin-bottom: 15px;
}

.data-error-msg {
  text-align: justify;
  width: 80%;
}

.bolder {
  font-weight: 500;
}

.data-error-li {
  margin-bottom: 10px;
}

/* Sort bar */
.sort-by-button {
  display: flex;
  justify-content: flex-end;
  padding-right: 22px !important;
}

.sort-search-query-wrapper {
  padding-left: 0px !important;
  padding-top: 10px;
  font-size: 19px;
}

.sort-search-query-alert {
  margin-bottom: 0 !important;
  padding: 10px !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sort-button {
  width: 100px;
}

.sort-min-max-sign {
  text-align: center;
  min-width: 6px !important;
}

@media (max-width: 768px) {
  .sort-bar-wrapper {
    margin-left: 25px !important;
    padding-right: 50px !important;
  }
  .sort-bar-sort-by {
    padding: 0 !important;
    margin-top: 10px !important;
  }
  .sort-by-button {
    justify-content: space-between;
    padding: 0 !important;
    margin-top: 10px !important;
  }
  .sort-button,
  .apply-button-small-screen {
    width: 50%;
  }
}

/* Like button */
.like-btn-overlay {
  background-color: #0e59e2;
  color: #e9eef4;
  padding: 4px 6px;
  border-radius: 25px;
  margin-top: 10px;
}

/* Receipt */
.invoice-wrapper {
  padding-top: 10px !important;
}

.receipt-header-info-wrapper,
.receipt-items-header-title,
.receipt-bottom-info-wrapper,
.receipt-total {
  font-weight: bold;
}

.receipt-items-header-title,
.receipt-bottom-info-wrapper {
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  margin-top: 10px !important;
  padding: 5px 0;
}

.receipt-total {
  margin-top: 10px !important;
}

/* Order history tab */
.o-history-header {
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  border-bottom: 1px solid gray;
  padding-bottom: 5px;
}

.o-history-order {
  text-align: center;
  padding: 5px 0;
  border-bottom: 1px dotted gray;
}

/* Payment placeholder */
.payment-spinner {
  margin: 100px 0px;
  width: 50px !important;
  height: 50px !important;
}

.payment-text {
  font-size: 26px;
  margin-top: 25px;
  text-align: center;
}

.payment-text-transaction {
  text-align: center;
  font-size: 18px;
  margin-top: 20px;
}

.payment-icon-success {
  margin: 50px 0;
}

.payment-text-countdown {
  text-align: center;
  font-size: 18px;
}

/* Homepage */
.home-page-wrapper {
  margin: 0 15px !important;
  padding: 0 !important;
}
