* {
  padding: 0;
  margin: 0;
}

/* Product tile */

.product-tile-thubmnail-wrapper {
  padding: 0 !important;
  display: flex;
  justify-content: center;
}

.product-tile-thubmnail {
  margin: 20px 0;
}

.product-tile-button-wrapper {
  padding: 0 !important;
}

/* Login modal */

.login-modal-error-alert {
  text-align: justify;
  font-size: 110%;
  margin-top: 20px;
}

/* Product gallery -> no items found component */

.no-products-card-body {
  height: 80vh;
}

/* Navbar */

.nav-bar-logo {
  width: 300px;
  height: 60px;
  margin: 5px 15px;
}

.nav-bar-bootstrap-component {
  margin: 0 !important;
  padding: 0 !important;
}

.nav-bar-cart-icon {
  margin-left: 5px;
  margin-right: 2px;
}

.nav-bar-cart-badge {
  padding: 2px 8px !important;
}

.custom-link {
  text-decoration-line: none !important;
  color: black;
}

.custom-link:hover {
  color: #0e59e2;
}

.product-page-cart-block-discount,
.product-page-cart-block-price {
  margin-bottom: 10px;
  text-align: center;
  width: 100px;
  height: 40px;
  border-radius: 10px;
  padding-top: 6px;
  color: white;
}

.product-page-cart-block-discount {
  text-decoration-line: line-through;
  background-color: red;
}

.product-page-cart-block-price {
  background-color: #10c44c;
}

/* Cart page */

.cart-custom-check-box {
  transform: scale(1.5);
  border: 10px solid black;
  margin-left: 15px;
  margin-bottom: 30px;
}

.cart-checkout-wrapper {
  height: fit-content;
  margin: 15px;
  padding: 15px 0;
  background-color: whitesmoke;
  border-radius: 15px;
}

.cart-checkout-button {
  width: 80% !important;
  margin: 15px;
}

.cart-checkout-button-wrapper {
  border-bottom: 1px solid gray;
}

.cart-checkout-info-p {
  padding-left: 15px;
  padding-top: 5px;
  margin: 0;
}

/* Order page */
/* Order page Payment choice */
.order-page-payment-card-wrapper {
  margin: 10px 0 25px 25px !important;
  border: 1px solid black;
  width: fit-content !important;
  border-radius: 15px;
}

.order-page-payment-card-text {
  padding: 25px 0px;
  text-align: center;
  margin: 0;
}

.order-page-payment-choice-wrapper {
  padding-left: 0 !important;
  padding-right: 0 !important;
  background-color: #f5f5f5;
  border-radius: 15px;
}

.order-page-payment-header {
  margin: 5px 20px 0 12px !important;
  width: fit-content !important;
}

/* Address form */
.address-form-textarea {
  resize: none;
}

.address-form-wrapper {
  margin-top: 20px;
  /* Temp */
  background-color: #f5f5f5;
  border-radius: 15px;
}
